* {
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  background-color: hsl(36, 100%, 99%);
  padding: 4em;
}

@media screen and (max-width: 750px) {
  body {
  height: 100vh;
  background-color: hsl(36, 100%, 99%);
  padding: 0em;
} 
}

.navBar {
  display: none;
}

@media screen and (min-width: 600px) {
  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px 0;
    padding: 10px;
  }
}

.container {
  gap: 1em;
  display: grid;
  grid-template-areas:
    "item1 item1 item4"
    "item2 item3 item4";
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column; 
  }
}

.item1 {
  grid-area: item1;
}
.mainImg {
  max-width: 100%;
}

.item2 {
  grid-area: item2;
  border: solid 1px;
}

.item3 {
  grid-area: item3;
  border: solid 1px;
}
button {
  background-color: hsl(5, 85%, 63%);
  color: white;
  font-size: 14px;
  padding: 12px 40px;
  letter-spacing: 0.2em;
  border: none;
  text-transform: uppercase;
}

.item4 {
  grid-area: item4;
  color: white;
  background-color: hsl(240, 100%, 5%);
  padding: 15px;
}

.tips {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 1em;
  margin-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 800px) {
  .tips{
    display: grid;
    grid-template-columns: 0.55fr 1fr;
    gap: 1em;
    margin-top: 30px;
    padding-bottom: 30px;
  }
}
.tipsImg {
  width: 100%;
}
